.button,
.form-button {
    transition: 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    color: var(--beige-color);
    border: none;
    border: 1px solid var(--light-brown-color);
    outline: none;
    text-transform: uppercase;
}

.form-button {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 100;
}

.button {
    position: relative;
    min-width: 120px;
    width: fit-content;
    height: 50px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
}

.border-button,
.border-form-button {
    position: absolute;
    left: -1px;
    top: -1px;
    fill: none;
    stroke: var(--light-brown-color);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    border-radius: 5px;
}

.button:hover,
.form-button:hover {
    transition: 1s ease-in-out;
}

.button:hover {
    background: rgb(26, 24, 24);
}

.form-button:hover {
    background-color: rgba(97, 97, 99, 0.1);
}

.form-button:active {
    background-color: rgba(97, 97, 99, 0.3);
}

.button:hover svg,
.form-button:hover svg {
    stroke-dashoffset: -480;
}
