.button,
.form-button {


    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    color: var(--beige-color);
    border: 1px solid var(--light-brown-color);
    outline: none;
    text-transform: uppercase;
}

.form-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 100;
}

.button {
    position: relative;
    min-width: 120px;
    width: fit-content;
    height: 50px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
}

svg {
    position: absolute;
    left: -1px;
    top: -1px;
    fill: none;
    stroke: var(--light-brown-color);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    border-radius: 5px;
}

.button:hover {
    transition: 1s ease-in-out;
    background: black;
}

.button:hover svg {
    stroke-dashoffset: -480;
}
