.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 10vh;
    padding: 30px 20px;
    background-color: var(--main-background-color);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
