ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.plan-fact-finace-information-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    /* min-height: 70px; */
    height: fit-content;
    border: 1px solid var(--light-brown-color);
    border-radius: 5px;
    font-size: 18px;
    padding: 18px;
}

.plan-fact-finace-information-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.plan-fact-finace-information-input {
    position: relative;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    accent-color: var(--light-brown-color);
    background-color: var(--input-color);
    box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
    transition: 200ms;
}

.plan-fact-finace-information-input::after {
    position: absolute;
    content: "\2714";
    width: 0px;
    height: 0px;
    top: -5px;
    left: 2px;
    font-size: 22px;
    overflow: hidden;
    transition: 200ms;
}

.plan-fact-finace-information-input:checked:after {
    width: 30px;
    height: 30px;
    transform: translate(12%, 12%);
    transition: 200ms;
}

.plan-fact-finace-information-input:disabled {
    background: #ccc;
    border-color: #ccc;
}

.plan-fact-finace-information-input:disabled::after {
    filter: grayscale(100%);
}

.plan-fact-finace-information-ammoun-wrapper {
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    align-items: flex-start;
    /* gap: 15px; */
    gap: 10px;
    flex-grow: 1;
    height: fit-content;
    width: fit-content;
}

.plan-fact-finace-information-ammount,
.plan-fact-finace-information-currency {
font-size: 24px;
}

.plan-fact-finace-information-description,
.plan-fact-finace-information-ammount {
padding: 0;
margin: 0;
}

.plan-fact-finace-information-currency {
    text-transform: uppercase;
}

.plan-fact-finace-information-description {
    text-align: left;
}

.plan-fact-finace-information-category {
    display: flex;

justify-content: center;
align-items: center;
    min-width: 15%;
    height: 100%;
    border-left: 1px solid var(--light-brown-color);
    border-right: 1px solid var(--light-brown-color);
}

.plan-fact-finace-information-category,
.plan-fact-finace-information-actions {
    width: fit-content;
    text-transform: uppercase;
    /* border-left: 1px solid var(--light-brown-color); */
}

.plan-fact-finace-information-actions {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--beige-color);
    min-width: 7%;
    font-size: 26px;
}

.plan-fact-finace-information-actions:hover {
    color: rgba(97, 97, 99, 0.7);
    ;
}
