#root {
  max-width: 1920px;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.main-container {
  box-sizing: border-box;
  min-height: 75vh;
  height: fit-content;
  width: 100%;
  margin-top: calc(10vh + 2px);
}

.finace-information {
  padding: 2em;
  height: fit-content;
  min-height: 300px;
  width: 60vw;
  min-width: 1045px;
  background-color: var(--brown-color);
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
