#root {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.header {
  display: flex;
  gap: 15px;
  width: 100%;
  min-height: fit-content;
  border-bottom: 1px solid #ccb9b2;
}

.finance-information {
  padding: 2em;
}
